<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    {% load static %}
	<link href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% block css %} {% endblock %}
	<title>{% block title %}{% endblock %}</title>
</head>

<body>
	<div class="all-page-group">
        <div class="head">
            <a href='{% url 'products_url'  %}'>
                <span class="home-btn-text">Gateway Mission</span>
                <div class="home-btn-line"></div>
            </a>

		</div>
        {% block content %}{% endblock %}
    </div>
</body>

</html>