{% extends 'base.html' %}
{% block title %}GM{% endblock %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/gateway_products.css' %}">
{% endblock %}
{% block content %}
    <div class="gateway-products-page-content">
        <div class="content-head">
            <span class="gateway-products-title">Космические корабли и модули</span>
            <div class="orders-search">
                <div class="search">
                    <form action="{% url 'gateway_products_url' %}" method="get">
                        {% if not data.search %}
                            <input type="text" name="gateway_el" placeholder= "НАЙТИ...">
                        {% else %}
                            <input type="text" name="gateway_el" value="{{ data.search }}">
                        {% endif %}
                    </form>
                </div>
            {% if data.mission != None %}
                <a href='{% url 'gateway_mission_url' data.mission.mission_id %}' >
                    <div class="missions">
                        <div class="missions-inside">
                            <img src="http://127.0.0.1:9000/img-for-rip/images/rocket.png" class="missions-image">
                            <span class="missions-quantity">({{ data.mission.quantity }})</span>
                        </div>
                    </div>
                </a>
            {% endif %}
            </div>
        </div>
        <div class="products">
        {% for element in data.gateway_el %}
                <div class="product">
                    <div class="img-btn">
                        <img src="{{ element.img_url }}" class="product-image">
                        <a href='{% url 'el_add_to_mission' %}' class="add-mission-btn">
                            <div class="ellipse-1"></div>
                            <div class="ellipse-2"></div>
                            <img src="http://127.0.0.1:9000/img-for-rip/images/Union.png" class="plus-img">
                        </a>
                        
                    </div>
                    <span class="product-name">{{element.title}}</span>
                    <span class="product-description">{{element.short_description}}</span>
                    <a href='{% url 'gateway_el_url' element.gateway_el_id %}'>
                        <div class="product-learn-more-btn">
                            <span class="learn-more-btn-text">Подробнее</span>
                            <div class="learn-more-btn-element">
                                <div class="learn-more-btn-element-arrow"></div>
                                <div class="learn-more-btn-element-arrow-2"></div>
                            </div>
                        </div>
                    </a>
                </div>
        {% empty %}
            <p>Нет доступных продуктов</p>
        {% endfor %}
        </div>
    </div>
{% endblock %}