{% extends 'base.html' %}
{% block title %}GM{% endblock %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/gateway_products.css' %}">
{% endblock %}
{% block content %}
    <div class="gateway-products-page-content">
        <div class="content-head">
            <span class="gateway-products-title">Космические корабли и модули</span>
            <div class="orders-search">
                <div class="search">
                    <form action="{% url 'gateway_products_url' %}" method="get">
                        {% if not data.search %}
                            <input type="text" name="gateway_el" placeholder= "НАЙТИ...">
                        {% else %}
                            <input type="text" name="gateway_el" value="{{ data.search }}">
                        {% endif %}
                    </form>
                </div>
                <a href='{% url 'gateway_mission_url' data.mission.id %}' >
                    <div class="missions">
                        <div class="missions-inside">
                            <img src="http://127.0.0.1:9000/img-for-rip/images/cart.png" class="missions-image">
                            <span class="missions-quantity">({{ data.mission.quantity }})</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>s
        <div class="products">
        {% for product in data.gateway_el %}
                <div class="product">
                    <img src="{{ product.image }}" class="product-image">
                    <span class="product-name">{{product.title}}</span>
                    <span class="product-description">{{product.description}}</span>
                    <a href='{% url 'gateway_product_url' product.id %}'>
                        <div class="product-learn-more-btn">
                            <span class="learn-more-btn-text">Подробнее</span>
                            <div class="learn-more-btn-element">
                                <div class="learn-more-btn-element-arrow"></div>
                                <div class="learn-more-btn-element-arrow-2"></div>
                            </div>
                        </div>
                    </a>
                </div>
        {% empty %}
            <p>Нет доступных продуктов</p>
        {% endfor %}
    </div>
    </div>
{% endblock %}