<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    {% load static %}
	<link href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<title>Document</title>
</head>

<body>
	<div class="all-page-group">
        <div class="head">
			<div class="home-btn">
			    <span class="home-btn-text">Gateway Mission</span>
                <div class="home-btn-line"></div>
			</div>
		</div>
		<div class="products">
			<div class="product">
				<div class="product-box">
                    <div class="product-image-1"></div>
                </div>
                <div class="product-text">
                    <span class="product-name">Gateway cosmonaut figure</span>
                    <span class="product-price">₽3000</span>
                </div>
			</div>
			<div class="product">
				<div class="product-box">
                    <div class="product-image-2"></div>
                </div>
                <div class="product-text">
                    <span class="product-name">Gateway mission patch</span>
                    <span class="product-price">₽400</span>
                </div>
			</div>
			<div class="product">
				<div class="product-box">
                    <div class="product-image-3"></div>
                </div>
                <div class="product-text">
                    <span class="product-name">Gateway mission T-shirt</span>
                    <span class="product-price">₽1500</span>
                </div>
			</div>
		</div><span class="store-title">STORE</span>
		<div class="search">
			<div class="search-box"></div>
			<div class="search-image"></div><span class="search-text">НАЙТИ...</span><span class="search-clean-btn">×</span>
		</div>
	</div>
    <div class="cart">
			<div class="cart-box">
                <div class="cart-image"></div>
            </div>
    </div>
</body>

</html>