{% extends 'base.html' %}
{% block title %}Your mission - GM{% endblock %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/mission.css' %}">
{% endblock %}
{% block content %}
    <div class="mission-page-content">
        <span class="mission-title">Миссии</span>
        <div class="mission-info">
            <div class="mission-frame-title">
                <span class="product-column-title">Объект</span>
                <span class="product-column-description">Описание</span>
                <div class="card-frame-line-1"></div>
            </div>
            <div class="mission-frame-info">
                    {% for gateway_el in mission.get_elements %}
                        <div class="product">
                            <div class="product-box">
                                <img src="{{ gateway_el.img_url }}" class="product-image">
                                <span class="product-title">{{ gateway_el.title }}</span>
                            </div>
                            <span class="product-description">{{ gateway_el.short_description }}</span>
                        </div>
                    {% endfor %}
            </div>
            <div class="card-frame-line-2"></div>
        </div>
        <div class="mission-btns">
            <a href="{% url 'delete_mission' mission.id%}" class="mission-del-btn">
                <span class="mission-del-btn-text">Удалить миссию</span>
            </a>
        </div>
    </div>
{% endblock %}