{% extends 'base.html' %}
{% block title %}{{ product.title }} - Gateway mission store{% endblock %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
{% endblock %}
{% block content %}
    <div class="product-page-content">
        <img src="{{ product.image }}" class="product-image">
        <div class="product">
            <span class="product-page-title">{{ product.title }} </span>
            <div class="product-info-line"></div>
            <span class="product-info">{{ product.info}}</span>
        </div>
    </div>
{% endblock %}