{% extends 'base.html' %}
{% block title %}Gateway mission store{% endblock %}

{% block content %}
    <div class="products">
        <div onclick="location.href='{% url 'products_url' products.id %}" class="product">
            <div class="product-box">
                <div class="product-image-1"></div>
            </div>
            <div class="product-text">
                <span class="product-name">Gateway cosmonaut figure</span>
                <span class="product-price">₽3000</span>
            </div>
        </div>
        <div class="product">
            <div class="product-box">
                <div class="product-image-2"></div>
            </div>
            <div class="product-text">
                <span class="product-name">Gateway mission patch</span>
                <span class="product-price">₽400</span>
            </div>
        </div>
        <div class="product">
            <div class="product-box">
                <div class="product-image-3"></div>
            </div>
            <div class="product-text">
                <span class="product-name">Gateway mission T-shirt</span>
                <span class="product-price">₽1500</span>
            </div>
        </div>
    </div>
    <span class="store-title">STORE</span>
    <div class="search">
    <div class="search-box"></div>
    <div class="search-image"></div><span class="search-text">НАЙТИ...</span><span class="search-clean-btn">×</span>
    </div>
    <div class="cart">
        <div class="cart-box">
            <div class="cart-image"></div>
        </div>
    </div>
{% endblock %}