{% extends 'base.html' %}
{% block title %}{{ product.title }} - Gateway mission store{% endblock %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}">
{% endblock %}
{% block content %}
		<div class="product-info-box">
            <span class="product-name">{{ product.title }} </span>
            <span class="product-price">₽{{ product.price }}</span>
            {% if product.info %}
                <div class="product-info-line"></div>
            	<span class="product-info-title">Параметры:</span>
                <span class="product-info">{{ product.info}}</span>
            {% endif %}
        </div>
        <div class="product-image-box">
            <div class="product-image" data-image="{{product.id}}"></div>
        </div>
{% endblock %}