{% extends 'base.html' %}
{% block title %}{{ data.name }} - Gateway mission store{% endblock %}
{% block content %}
<div class=e133_2>
      <div class=e133_44>
        <div class="e133_45"></div>
        <div class="e133_46"></div>
      </div>
      <div class=e133_60><span  class="e133_61">Gateway cosmonaut figure </span><span  class="e133_62">₽3000</span>
        <div class="e133_63"></div><span  class="e133_64">Параметры:

    Масштаб 1: 6
    • 13,5 дюйма в высоту с основанием
    • 1400 грамм
    </span>
      </div>
      <div class=e133_57>
        <div class="e133_58"></div>
        <div class="e133_59"></div>
      </div>
      <div class=e133_4>
        <div class="e133_5"></div>
        <div class="e133_6"></div>
        <div class=e133_7><span  class="e133_8">Gateway
     Mission</span>
          <div class="e133_9"></div>
        </div>
      </div>
</div>
{% endblock %}