* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.total-price {
  width: 251px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 702px;
  left: 1206px;
  font-family: Play,sans-serif;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  overflow: visible;
}
.cart-box {
  width: 1541px;
  height: 100%;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  position: absolute;
  top: 114px;
  left: 0px;
  overflow: hidden;
}
.cart-title {
  width: 1541px;
  color: rgba(0,0,0,1);
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: Play,sans-serif;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.cart-info {
  width: 1366px;
  height: 100%;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 168px;
  left: 78px;
  overflow: hidden;
}
.cart-frame {
  width: 1366px;
  height: 392px;
  display: flex;
  opacity: 1;
  overflow: hidden;
}
.cart-frame-title {
  width: 100%;
  height: 46px;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
}
.product-column-title {
  width: 129px;
  position: absolute;
  left: 60px;
  color: rgba(0,0,0,1);
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.quantity-title {
  width: 118px;
  color: rgba(0,0,0,1);
  position: absolute;
  left: 908px;
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.price-title {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  left: 1214px;
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.cart-frame-info {
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 0px;
  overflow: hidden;
}
.card-frame-line-1{
  position: absolute;
  top:0px;
  width:1366px;
  opacity:0.42;
  border:1px solid rgba(0, 0, 0, 1);
}
.card-frame-line-2{
  width:1366px;
  height: 0;
  opacity:0.42;
  margin-top: 17px;
  border:1px solid rgba(0, 0, 0, 1);
}
.products{
  display: grid;
  height: 100%;
  grid-template-columns: 100%;
  grid-column-gap: 17px;
}
.product-box {
  width: 100%;
  height: 147px;
  margin-top: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
}
.product-info-box {
  width: 476px;
  height: 147px;
  background-size: cover;
  position: absolute;
  left: 54px;
  opacity: 1;
  overflow: hidden;
}
.product-image-box{
  width: 135px;
  height: 147px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  border-radius: 5px;
  overflow: hidden;
}
.product-image[data-image='1']{
  width: 130px;
  height: 129px;
  background: url("http://127.0.0.1:9000/img-for-rip/images/cosmonaut_figure.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  left: 2px;
  overflow: hidden;
}
.product-image[data-image='2']{
  width: 130px;
  height: 129px;
  background: url("http://127.0.0.1:9000/img-for-rip/images/patch_gateway.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  left: 2px;
  overflow: hidden;
}
.product-image[data-image='3']{
  width: 130px;
  height: 129px;
  background: url("http://127.0.0.1:9000/img-for-rip/images/tshirt_gateway.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  left: 2px;
  overflow: hidden;
}
.product-title {
  width: 292px;
  color: rgba(0,0,0,1);
  position: absolute;
  left: 184px;
  margin-top: 20px;
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.product-price {
  width: 60px;
  color: rgba(0,0,0,1);
  position: absolute;
  margin-top: 69px;
  left: 185px;
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.total-product-price{
  width: 118px;
  color: rgba(0,0,0,1);
  position: absolute;
  left: 1194px;
  margin-bottom: 60px;
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.quantity-box {
  width: 139px;
  height: 104px;
  opacity: 1;
  position: absolute;
  left: 898px;
  overflow: hidden;
}
.quantity-frame {
  width: 139px;
  height: 65px;
  background: rgba(255,255,255,1);
  opacity: 1;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.quantity {
  width: 12px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 62px;
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.quantity-minus {
  width: 12px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 23px;
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.quantity-plus {
  width: 16px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 9px;
  left: 101px;
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.delete-product-btn {
  width: 138px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 65px;
  left: 0px;
  text-decoration: underline;
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

