
.gateway-products-page-content{
  margin-top: 148px;
  margin-left: 51px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px
}
.content-head{
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
}
.products {
  width: 100%;
  display: grid;
  grid-template-columns: 310px 310px 310px;
  row-gap: 43px;
  column-gap: 158px;
  padding-left: 87.5px;
}
.product {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.product-image{
  width: 310px;
  height: 232px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.product-name {
  width: 100%;
  color: rgba(0,0,0,1);
  font-family: Play,sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
}
.product-description {
  width: 100%;
  color: rgba(0,0,0,1);
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 16px;
  text-align: left;
}
.product-learn-more-btn{
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 5px;
}
.learn-more-btn-text{
  width: auto;
  color: rgba(0,0,0,1);
  font-family: Play,sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}
.learn-more-btn-element{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width:16.3px;
  height:18px;
  border-radius:500px;
  background-color:rgba(246, 65, 55, 1);
}
.learn-more-btn-element-arrow{
  width: 7.24px;
  height: 1px;
  background: #ffffff;
  position: absolute;
  z-index: 1;
}
.learn-more-btn-element-arrow-2{
  display: inline-block;
  transition: 1s;
  width: 3.5px;
  height: 3.5px;
  margin-left: 2px;
  transform: rotate(45deg);
  border-top: 1px solid #ffffff !important;
  border-right: 1px solid #ffffff !important;
  position: absolute;
  z-index: 2;
}
.learn-more-btn-element-ellipse{
  border-radius:500px;
  background-color:rgba(246, 65, 55, 1);
  width:16.3px;
  height:18px;
}
.gateway-products-title {
  padding-left: 472px;
  color: rgba(0,0,0,1);
  font-family: Play,sans-serif;
  font-weight: bold;
  font-size: 40px;
}
.orders-search{
  display: flex;
  flex-direction: row;
  gap: 1065px;
  width: 100%;
  height: 55px;

}
.search {
  width: 300px;
  height: 55px;
}
.search-box {
  width: 100%;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 0.7400000095367432;
  border: 1px solid rgba(0,0,0,1);
}
.search-image {
  opacity: 0.5099999904632568;
}
input[type="text"]{
  width: 300px;
  height: 55px;
  color: rgba(0,0,0,1);
  padding-left: 46px;
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 20px;
  opacity: 0.7099999785423279;
  text-align: left;
  background: rgba(255,255,255,1);
  border: 1px solid rgba(0,0,0,1);
  background-image: url("http://127.0.0.1:9000/img-for-rip/images/search.png");
  background-size: 40px 42px;
  background-position: 6px 6.5px;
}
.search-clean-btn {
  width: 18px;
  color: rgba(0,0,0,1);
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 48px;
  opacity: 0.44999998807907104;
  text-align: center;
}
.orders {
  width: 55px;
  height: 55px;
  opacity: 0.9399999976158142;
  background: rgba(255,255,255,1);
  border: 2px solid rgba(0,0,0,1);
  border-radius: 10px;
}
.orders-inside{
  width: 48px;
  height: 30px;
  display: flex;
  align-items: flex-end;
  margin-top: 13px;
  margin-left: 3px;

}
.orders-image {
  width: 31px;
  height: 28px;
  background: url("http://127.0.0.1:9000/img-for-rip/images/cart.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.8399999737739563;
}
.orders-quantity
{
  color: rgba(0,0,0,1);
  opacity: 0.84;
  font-family: Play,sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-align: left;
}