
.mission-page-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap:60px;
  position: absolute;
  top: 148px;
  overflow: hidden;
}
.mission-title {
  width: 100%;
  height: 48px;
  color: rgba(0,0,0,1);
  font-family: Play,sans-serif;
  font-weight: Bold;
  font-size: 40px;
  text-align: center;
}
.mission-info {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 16px;
}
.mission-frame-title {
  width: 1366px;
  height: 62px;
}
.product-column-title {
  width: 176px;
  padding-left: 228px;
  margin-right: 605px;
  color: rgba(0,0,0,1);
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 32px;
  text-align: center;
}
.product-column-description {
  width: 222px;
  color: rgba(0,0,0,1);
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.price-title {
  width: 77px;
  color: rgba(0,0,0,1);
  position: absolute;
  left: 1214px;
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.mission-frame-info {
  width: 1366px;
  display: grid;
  height: auto;
  grid-template-columns: 1259px;
  grid-row-gap: 17px;
}
.product{
  width: 1259px;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 200px;
  padding-left: 53px;
}
.card-frame-line-1{
  width:100%;
  height: 0;
  border:1px solid rgba(0, 0, 0, 1);
  margin-top: 26px;
}
.card-frame-line-2{
  width:100%;
  height: 0;
  border:1px solid rgba(0, 0, 0, 1);
}
.products{
  display: grid;
  height: auto;
  grid-template-columns: 1259px;
  grid-row-gap: 17px;
}
.product-box {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.product-info-box {
  width: 476px;
  height: 147px;
  background-size: cover;
  position: absolute;
  left: 54px;
  opacity: 1;
  overflow: hidden;
}
.product-image{
  width: 200px;
  height: 148px;
}
.product-title {
  width: 279px;
  height: 62px;
  color: rgba(0,0,0,1);
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 24px;
  text-align: left;
}
.product-price {
  width: 60px;
  color: rgba(0,0,0,1);
  position: absolute;
  margin-top: 69px;
  left: 185px;
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.product-description{
  width: 100%;
  height: 100%;
  color: rgba(0,0,0,1);
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
}
.quantity-box {
  width: 139px;
  height: 104px;
  opacity: 1;
  position: absolute;
  left: 898px;
  overflow: hidden;
}
.quantity-frame {
  width: 139px;
  height: 65px;
  background: rgba(255,255,255,1);
  opacity: 1;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.quantity {
  width: 12px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 15px;
  left: 62px;
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.quantity-minus {
  width: 12px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 23px;
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.quantity-plus {
  width: 16px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 9px;
  left: 101px;
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.delete-product-btn {
  width: 138px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 65px;
  left: 0px;
  text-decoration: underline;
  font-family: Play,sans-serif;
  font-weight: normal;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

